<launch>

  <arg name="image" default="/image_rect" />
  <arg name="camera_info" default="/camera_info" />
  
  <!-- Core algorithm. -->
  <node pkg="lsd_slam" type="live_slam" name="live_slam" output="screen">
    <!-- <remap from="image" to="/camera/image_rect" /> -->
    <remap from="image" to="$(arg image)" />
    <remap from="camera_info" to="$(arg camera_info)" />  	
  </node>
</launch>
