<launch>
  
  <arg name="image" default="/image_rect" />
  <arg name="camera_info" default="/camera_info" />
  
  <include file="$(find lsd_slam_viewer)/launch/viewer.launch" />

  <include file="$(find lsd_slam_core)/launch/live_slam.launch">
    <arg name="image" value="$(arg image)" />
    <arg name="camera_info" value="$(arg camera_info)" />
  </include>

</launch>
