<launch>

    <node pkg="camera_calibration" type="cameracalibrator.py" name="calibrator"
        args="--size 9x6 --square 0.024765 --approximate 0.1" output="screen">
	<remap from="left" to="/stereo/left/image_raw" />	
	<remap from="right" to="/stereo/right/image_raw" />	
	<remap from="left_camera" to="/stereo/left" />	
	<remap from="right_camera" to="/stereo/right" />	
    </node>

</launch>